lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
frontend/generated
.DS_Store


backend/lib/*.js
backend/lib/*.js.map
backend/server.js
backend/server.js.map

frontend/_build
